*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    padding: 10px;
}
header{
    padding: 10px;
    margin: auto;
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
p{
    margin-top: 20px;
}
main{
    color: black;
    margin: auto;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section{
    height: 400px;
    width: 320px;
    display:inline-block;
    border-radius: 25px;
    padding: 28px;
}
h2{
    margin-bottom: 20px;
}
label{
    display: block;
    font-size: 14.5px;
}
input{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 10px 0px 10px 10px;
    outline: none;
    width: 97%;
}
#inputCuadrado{
    background: white;
    color: black;
}
#inputTriangulo{
    background: white;
    color: black;
}
#inputCirculo{
    background: white;
    color: black;
}
button{
    margin-top: 20px;
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}
#sectionCuadrado{
    background-color: #00F2B5;
    color: white;
}
#sectionTriangulo{
    background-color: #BDAFDA;
    color: white;
}
#sectionCirculo{
    background-color: #FFC771;
    color: white;
}
div{
    margin: auto;
    text-align:left;
}
div button{
    background-color: white;
    margin-right: 10px;
    margin-bottom: 20px;
}
#buttonCuadrado{
    color: #00F2B5;
    font-weight: bold;
}
#buttonTriangulo{
    color: #BDAFDA;
    font-weight: bold;
}
#buttonCirculo{
    color: #FFC771;
    font-weight: bold;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }